
<section>
   <div ng-app="myapp" ng-controller="signupctr">
      <nav>
         
      </nav>
      <article>
         <div class="logincls">
         <div class="col-lg-5">
            <h3 style="color: black;">Sign Up Here</h3><br>
            <label style="color: black;"><b>Name</b></label><br>
            <input type="email" placeholder="your name" ng-model="name"><br><br>
            <label style="color: black;"><b>Email</b></label><br>
            <input type="email" placeholder="your email" ng-model="email"><br><br>
            <label style="color: black;"><b>Password</b></label><br>
            <input type="password" placeholder="your password" ng-model="pswd"><br><br>
            <label style="color: black;"><b>Confirm Password</b></label><br>
            <input type="email" placeholder="Re-enter your password" ng-model="cpswd"><br><br>
            <button ng-click="insertData()">Sign Up</button><br><br>
            <center><a href="#!SignIn/SignIn" style="margin-left: 120px; color: black;">or Sign In</a></center>
            <script src="SignUp/signupController.js"></script>
         </div></div>
      </article>
   </div>
</section>

