<section>
   <div>
      <nav>
         
      </nav>
      <article>
         <div class="logincls">
         <div class="col-lg-5">
            <h3 style="color: black;">Sign In Here</h3><br>
            <label style="color: black;"><b>Email</b></label><br>
            <input type="email" ng-model="uname" placeholder="your email"><br><br>
            <label style="color: black;"><b>Password</b></label><br>
            <input type="password" ng-model="pswd" placeholder="your password"><br><br><br>
            <a href="Registration/Registration.html"> <button>Login</button></a><br><br><br>
            <center><a href="#!SignUp/SignUp" style="margin-left: 120px; color: black;">or Sign Up</a></center>   
         </div></div>
      </article>
   </div>
</section>
