html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}
header {
	background-color: black;
  	height:70px;
}
header hnav{
	margin-top: 5px;
	margin-right: 5px;
	float: right;
}
.column{
	float: left;
    width: 50%;
    padding: 10px;
    height: 700px;
}
section {
	width: 100%;
	height: 600px;
	float: left;
	background-color: #264d73;
	color: white;
}
section .videocls{
	margin-top: 90px;
	margin-left: 200px;
}
.videocls button{
	width: 300px;
	height: 40px;
	margin-top: 20px;
	background-color: #ff6600;
	border-color: #ff6600;
	color: white;
}
.videocls img{
	width: 50px;
	height: 50px;
	margin-top: 30px;
	margin-left: 20px; 
}

 .featurecls{
	margin-top: 90px;
	margin-right: 250px;
	float: right;
}
 .featurecls img{
	width: 35px;
	height: 35px;
}
body .logocls{
	margin-right: 10px
	margin-top: 7px;

}
body .aboutusview{
	margin-top: 20px;
	margin-right: 65px;
	margin-left: 65px;
	border:1px solid;
}

footer {
	background-color: black;
  	height:95px;
  	margin-top: auto;
}
footer li{
	list-style-type: none;
}


.container{
	width: 100%;
}
.progressbar{
	counter-reset: step;
}
.progressbar li{
	list-style-type: none;
	float: left;
	width: 22.22%;
	position: relative;
	text-align: center;
}
.progressbar li:before{
	content: counter(step);
	counter-increment: step;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border: 3px solid;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%; 
	background-color: white;
}
.progressbar li:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: #ddd;
	top:12px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after{
	content: none;
}
.progressbar li:active{
	color:green;
}
.progressbar li.active:before{
	border-color: green;
}
.progressbar li.active + li:after{
	background-color: green;
	top:13px;
}
.details{
	width: 600px;
	border: 1px solid;
}
.title_bar{
	background: skyblue;
	height: 30px;
	width: 100%;
}
.max_min_button{
	border: 1px solid;
	width: 25px;
	height: 25px;
	top: 2px;
	float: right;
	cursor: pointer;
	border-radius: 50%;
	background-color: skyblue;
}


nav {
    float: left;
    width: 30%;
    height: 530px; 
    background-color: #264d73;
    padding: 20px;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: white;
    height: 600px; /* only for demonstration, should be removed */
}
.logincls{
	margin-top: 40px;
	margin-left: 150px;
}
.logincls input{
	border-top: none;
	border-right: none;
	border-left: none;
	width: 400px;
	height: 30px;
}
.logincls button{
	background-color: #264d73;
	border-color: #264d73;
	width: 400px;
	height: 35px;
}


/*Main Page*/


 .mainpagecls{
	background-color: orange;
  	height:100px;
  	width: 900px;
  	margin-left: 220px;
}

.col-1 {width: 360px;}
.col-2 {width: 411px;}
.col-3 {width: 320px;}
.col-4 {width: 375px;}
.col-5 {width: 414px;}
.col-6 {width: 768px;}
.col-7 {width: 1024px;}
.col-8 {width: 100%;}

@media only screen and (max-width: 1020px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}